doctype html
html(lang = "es")
head
    title Tienda Virtual de Camisetas
    link(rel="stylesheet", href="/stylesheets/estilos.css")
body
    h1 Tienda virtual de camisetas
    div(class="contenedor")
        p no encontramos #{URL_error}