doctype html
html(lang = "es")
head
    title Tienda Virtual de Camisetas
    link(rel="stylesheet", href="/stylesheets/estilos.css")
body
    h1 Tienda virtual de camisetas
    div(class="contenedor")
        p Nuestra tienda de camistetas tiene las mejores camisetas de la internet, satisfacción 100% garantizada
        
        
        img(src=camiseta.imagen)
        a(class="comprar" href="tienda.html") Comprar
        //-p #{color}
        //-p #{camiseta.imagen}
            
            
        